Source: stsbl-iserv-exam-plan-unlock
Section: misc
Priority: extra
Maintainer: Stadtteilschule Blankenese <repository@stsbl.de>
Build-Depends: debhelper (>= 10)
Build-Depends-Indep: iserv-buildtools
Standards-Version: 4.1.3
Homepage: https://it.stsbl.de/doc/mods/stsbl-iserv-exam-plan-unlock

Package: stsbl-iserv-exam-plan-unlock
Architecture: all
Depends: ${misc:Depends},
  ${perl:Depends},
  iserv-exam-plan,
  iserv-portal,
  stsbl-iserv-perl-lib,
  stsbl-iserv3-maintenance,
Xb-Private-IServ-Revision: ${iserv:Revision}
Description: Gruppen freischalten für den IServ Klausurplan
 Ermöglicht es Gruppenbesitzern, ihre Gruppe selbstständig für die Nutzung
 mit dem Klausurplan (Teilnahmerecht) freizuschalten.
 .
 Der Administrator kann eine Mindestanzahl von nötigen Mitgliedern dafür 
 angeben, sowie mit einem Gruppenmerkmal festlegen, welche Gruppen 
 freischaltbar sind.
Tag: suite::iserv:portal, role::plugin, status::recommended, implemented-in::php, implemented-in::perl
