Source: stsbl-iserv-exam-plan-unlock
Section: misc
Priority: extra
Maintainer: Stadtteilschule Blankenese <repository@stsbl.de>
Build-Depends: debhelper (>= 9)
Standards-Version: 3.9.5
Homepage: https://it.stsbl.de/doc/mods/stsbl-iserv-exam-plan-unlock

Package: stsbl-iserv-exam-plan-unlock
Architecture: all
Depends: iserv-portal, stsbl-iserv-perl-lib, iserv-exam-plan, stsbl-iserv3-maintenance
Description: Gruppen freischalten für den IServ Klausurplan (EXPERIMENTELL)
 Ermöglicht es Gruppenbesitzern, ihre Gruppe selbstständig für die Nutzung mit dem Klausurplan (Teilnahmerecht) freizuschalten.
 .
 Der Administrator kann eine Mindestanzahl von nötigen Mitgliedern dafür angeben, sowie mit einem Gruppenmerkmal festlegen, welche Gruppen freischaltbar sind.
Tag: suite::iserv:portal, role::plugin, status::highlighted, status::experimental
